<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mes_app">

    <application
        android:allowBackup="true"
        android:icon="@drawable/sf_logo_"
        android:roundIcon="@drawable/sf_logo_"
        android:label="스마트팩토리"

        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar">
        <activity android:name="com.mes_app.loginActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="landscape">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.mes_app.MainActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            />
        <activity android:name="com.mes_app.pop_raw_input" android:theme="@android:style/Theme.Dialog" />


<!--        <activity android:name="com.mes_app.raw_viewActivity" />-->
<!--        <activity android:name="com.mes_app.raw_inputActivity" />-->

    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 블루투스-->

</manifest>